div.vfm > div.vfm__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);

    border-color: var(--vscode-input-border);
    border-radius: 4px;
    background-color: var(--vscode-editor-background);
}

div.vfm > div.vfm__content > div {
    padding: 2px;
    column-gap: 8px;
}

div.vfm > div.vfm__content > div > button {
    padding: 2px 4px;
    width: 50%;

    border-color: var(--vscode-button-border);
    border-radius: 3px;
}

div.vfm > div.vfm__content > div > button.bg-yellow-500 {
    background-color: var(--vscode-button-background);
}

div.vfm > div.vfm__content > div > button.bg-red-500 {
    background-color: var(--vscode-inputValidation-errorBackground);
}
