@import "colors.css";

/*
:root {
    --token-simulation-green-base-44: #10D070;
    --token-simulation-grey-base-40: #666666;
    --token-simulation-grey-darken-30: #212121;
    --token-simulation-grey-lighten-56: #909090;
    --token-simulation-red-base-62: #FF3D3D;
    --token-simulation-silver-base-97: #F8F8F8;
    --token-simulation-silver-darken-94: #EFEFEF;

    --token-simulation-white: #FFFFFF;
}
*/

.bjs-container.simulation .djs-container {
    box-shadow: inset 0 0 0 4px var(--dt-primary-a0) !important;
}

.bts-toggle-mode {
    background-color: var(--dt-surface-a10) !important;
    color: var(--dt-primary-a50) !important;
}

.bts-toggle-mode:hover {
    background-color: var(--dt-surface-tonal-a20) !important;
}

.bts-entry {
    color: var(--dt-primary-a30) !important;
    background-color: var(--dt-surface-a10) !important;
}

.bts-context-pad {
    background-color: var(--dt-surface-a50) !important;
}

.bts-context-pad:hover {
    background-color: var(--dt-primary-a30) !important;
}

.bts-set-animation-speed {
    background-color: var(--dt-surface-tonal-a20) !important;

    .bts-icon {
        color: var(--dt-primary-a50) !important;
    }

    .bts-animation-speed-buttons > button {
        background-color: var(--dt-surface-tonal-a20) !important;
    }

    .bts-animation-speed-buttons > button.active {
        background-color: var(--dt-primary-a0) !important;
    }

    .bts-animation-speed-buttons > button:hover {
        background-color: var(--dt-primary-a10) !important;
    }
}

.bts-log {
    background-color: var(--dt-surface-a0) !important;
}
