dialog div h1 {
    color: var(--vscode-editor-foreground);
}

dialog div p {
    color: var(--vscode-editorError-foreground);
}

dialog div .flex {
    justify-content: center;
}

dialog div button {
    @apply p-2;
    color: var(--vscode-button-foreground);
    background-color: var(--vscode-button-background);
}
