:root .djs-parent {
    /* Override diagram-js.css */
    --color-grey-225-10-15: hsl(225, 10%, 15%);
    --color-grey-225-10-35: hsl(225, 10%, 35%);
    --color-grey-225-10-55: hsl(225, 10%, 55%);
    --color-grey-225-10-75: hsl(225, 10%, 75%);
    --color-grey-225-10-80: hsl(225, 10%, 80%);
    --color-grey-225-10-85: hsl(225, 10%, 85%);
    --color-grey-225-10-90: hsl(225, 10%, 90%);
    --color-grey-225-10-95: hsl(225, 10%, 95%);
    --color-grey-225-10-97: hsl(225, 10%, 97%);

    --color-blue-205-100-45: hsl(205, 100%, 45%);
    --color-blue-205-100-45-opacity-30: hsla(205, 100%, 45%, 30%);
    --color-blue-205-100-50: hsl(205, 100%, 50%);
    --color-blue-205-100-50-opacity-15: hsla(205, 100%, 50%, 15%);
    --color-blue-205-100-70: hsl(205, 100%, 75%);
    --color-blue-205-100-95: hsl(205, 100%, 95%);

    --color-green-150-86-44: hsl(150, 86%, 44%);

    --color-red-360-100-40: hsl(360, 100%, 40%);
    --color-red-360-100-45: hsl(360, 100%, 45%);
    --color-red-360-100-92: hsl(360, 100%, 92%);
    --color-red-360-100-97: hsl(360, 100%, 97%);

    --color-white: var(--vscode-editor-background);
    --color-black: var(--vscode-foreground);
    --color-black-opacity-10: hsla(0, 0%, 0%, 10%);
    --color-black-opacity-30: hsla(0, 0%, 0%, 30%);


    /* Icons in palette */
    --palette-entry-color: var(--vscode-focusBorder);
}

/**
 * BPMN-Elements
 * TODO
 *  1. Styling when selected
 *  2. Styling of text
 */
:root .djs-visual > :nth-child(1) {
    stroke: var(--vscode-button-border) !important;
    fill: var(--vscode-button-background) !important;
}

* {
    box-sizing: border-box;
}

body,
html {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    height: 100%;
    max-height: 100%;
    padding: 0;
    margin: 0;
}

#js-properties-panel {
    width: 400px;
}

a:link {
    text-decoration: none;
}

.content {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
}

.content > .message {
    width: 100%;
    height: 100%;
    text-align: center;
    display: table;
    font-size: 16px;
    color: #111;
}

.content > .message .note {
    vertical-align: middle;
    text-align: center;
    display: table-cell;
}

.content > .message.error .details {
    max-width: 500px;
    font-size: 12px;
    margin: 20px auto;
    text-align: left;
    color: #bd2828;
}

.content > .message.error pre {
    border: solid 1px #bd2828;
    background: #fefafa;
    padding: 10px;
    color: #bd2828;
}

.content:not(.with-error) .error,
.content.with-error .intro,
.content.with-diagram .intro {
    display: none;
}

.content .canvas {
    width: 100%;
}

.content .canvas,
.content .properties-panel-parent {
    display: none;
}

.content.with-diagram .canvas,
.content.with-diagram .properties-panel-parent {
    display: block;
}

.properties-panel-parent {
    border-left: 1px solid #ccc;
    overflow: auto;
}

.properties-panel-parent:empty {
    display: none;
}

.properties-panel-parent > .djs-properties-panel {
    padding-bottom: 70px;
    min-height: 100%;
}

/* reset css */
/*html {
    box-sizing: border-box;
    font-size: 13px;
    background-color: #fff;
}*/

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

body {
    color: black;
}

img {
    max-width: 100%;
    height: auto;
}
