@import "colors.css";

:root .djs-parent {
    --canvas-fill-color: var(--dt-surface-a10);

    --bendpoint-fill-color: var(--dt-primary-a30);
    --bendpoint-stroke-color: var(--canvas-fill-color);

    --context-pad-entry-background-color: var(--dt-surface-a0);
    --context-pad-entry-hover-background-color: var(--dt-surface-a30);

    --element-dragger-color: var(--dt-primary-a0);
    --element-hover-outline-fill-color: var(--dt-primary-a20);
    --element-selected-outline-stroke-color: var(--dt-primary-a0);
    --element-selected-outline-secondary-stroke-color: var(--dt-primary-a20);

    --lasso-fill-color: var(--dt-primary-a0-opacity-30);
    --lasso-stroke-color: var(--element-selected-outline-stroke-color);

    --palette-entry-color: var(--dt-primary-a40);
    --palette-entry-hover-color: var(--dt-primary-a50);
    --palette-entry-selected-color: var(--dt-primary-a0);
    --palette-separator-color: var(--dt-surface-tonal-a40);
    --palette-toggle-hover-background-color: var(--dt-surface-a60);
    --palette-background-color: var(--dt-surface-a10);
    --palette-border-color: var(--dt-surface-tonal-a40);

    --popup-header-entry-selected-color: var(--dt-primary-a40);
    --popup-header-group-divider-color: var(--dt-surface-tonal-a20);
    --popup-background-color: var(--dt-surface-a0);
    --popup-border-color: transparent;
    --popup-shadow-color: var(--dt-surface-a30);
    --popup-description-color: var(--dt-surface-a60);
    --popup-no-results-color: var(--dt-surface-a70);
    --popup-entry-title-color: var(--dt-surface-a70);
    --popup-entry-hover-color: var(--dt-surface-a20);
    --popup-search-border-color: var(--dt-surface-a60);
    --popup-search-focus-border-color: var(--dt-primary-a20);
    --popup-search-focus-background-color: var(--dt-primary-a40);

    --resizer-fill-color: var(--dt-primary-a50);
    --resizer-stroke-color: var(--canvas-fill-color);

    --search-container-background-color: var(--dt-surface-a0);
    --search-shadow-color: var(--dt-surface-a20);
    --search-input-border-color: var(--dt-surface-a20);
    --search-input-focus-border-color: var(--dt-primary-a20);
    --search-input-focus-background-color: var(--dt-primary-a40);
    --search-result-hover-background-color: var(--dt-surface-a10);
    --search-result-secondary-color: var(--dt-surface-a60);
    --search-preselected-background-color: var(--dt-primary-a0-opacity-30);

    --shape-attach-allowed-stroke-color: var(--dt-primary-a40);
    --shape-connect-allowed-fill-color: var(--dt-surface-a10);
    --shape-drop-allowed-fill-color: var(--dt-surface-a10);
    --shape-drop-not-allowed-fill-color: var(--dt-color-red-a10-invert-opacity-60);
    --shape-resize-preview-stroke-color: var(--dt-primary-a30);

    --snap-line-stroke-color: var(--dt-primary-a40-opacity-15);

    --space-tool-crosshair-stroke-color: var(--dt-light-a0);

    --tooltip-error-background-color: var(--dt-color-red-a10);
    --tooltip-error-border-color: var(--dt-color-red-a20);
    --tooltip-error-color: var(--dt-color-red-a20);
}

/**
 * The canvas
 */
.djs-container {
    background-color: var(--canvas-fill-color) !important;
}

.layer-djs-grid {
    filter: invert(58%) sepia(0%) saturate(1864%) hue-rotate(184deg) brightness(95%) contrast(87%) !important;
}

/**
 * BPMN shapes
 */
.djs-element > .djs-visual {
    /* The color has to be inverted so it is the same as in the token simulation view. */
    filter: invert(1);
}

.djs-direct-editing-parent {
    color: var(--dt-primary-a20) !important;
}

.djs-direct-editing-content {
    background-color: var(--dt-surface-a10) !important;
}

/**
 * Context pad
 */
.djs-context-pad {
    color: var(--dt-primary-a50) !important;
}

/**
 * Search Box
 */
.djs-search-container .djs-search-result {
    color: var(--dt-surface-a40) !important;
    background-color: var(--dt-surface-a10) !important;
}

.djs-search-icon {
    filter: invert(22%) sepia(6%) saturate(30%) hue-rotate(332deg) brightness(91%) contrast(86%);
}

/**
 * Popup
 */
.djs-popup-entry-name {
    filter: invert(1) !important;
}

.djs-popup-title {
    color: var(--dt-surface-a70) !important;
}

.djs-popup-header-group > li > button {
    color: var(--dt-primary-a50) !important;
}

