:root {
    /* TokenSimulation */
    --token-simulation-silver-darken-94: var(--vscode-editor-background);
    --token-simulation-grey-darken-30: var(--vscode-editor-foreground);
}

/**
 * Diagram JS
 */
:root .djs-parent {
    --canvas-fill-color: var(--vscode-editor-background);
    /* Shapes */
    --element-dragger-color: var(--vscode-list-highlightForeground);
    --element-hover-outline-fill-color: var(--color-blue-205-100-45);
    --element-selected-outline-stroke-color: var(--vscode-editor-selectionBackground);
    --element-selected-outline-secondary-stroke-color: var(--color-blue-205-100-70);

    --shape-attach-allowed-stroke-color: var(--color-blue-205-100-50);
    --shape-connect-allowed-fill-color: var(--color-grey-225-10-97);
    --shape-drop-allowed-fill-color: var(--vscode-editor-background);
    --shape-drop-not-allowed-fill-color: var(--vscode-inputValidation-errorBackground);
    --shape-resize-preview-stroke-color: var(--color-blue-205-100-50);
    /* Palette */
    --palette-entry-color: var(--vscode-button-background);
    --palette-entry-hover-color: var(--vscode-button-hoverBackground);
    --palette-entry-selected-color: var(--vscode-editorSuggestWidget-highlightForeground);
    --palette-separator-color: var(--vscode-button-separator);
    --palette-toggle-hover-background-color: var(--vscode-editor-hoverHighlightBackground);
    --palette-background-color: var(--vscode-editor-background);
    --palette-border-color: var(--vscode-button-border);
    /* Context Pad */
    --context-pad-entry-background-color: var(--vscode-editor-background);
    --context-pad-entry-hover-background-color: var(--vscode-editorStickyScrollHover-background);
    /* Search Bar */
    --search-container-background-color: var(--vscode-editor-background);
    --search-container-border-color: var(--vscode-button-background);
    --search-container-box-shadow-color: var(--vscode-button-hoverBackground);
    --search-container-box-shadow-inset-color: var(--vscode-button-hoverBackground);
    --search-input-border-color: var(--color-grey-225-10-75);
    --search-result-border-color: var(--color-grey-225-10-75);
    --search-result-highlight-color: var(--vscode-statusBarItem-focusBorder);
    --search-result-selected-color: var(--vscode-statusBarItem-hoverBackground);
}

/**
 * Editing BPMN shapes
 */
:root .djs-direct-editing-parent {
    color: var(--vscode-editor-foreground);
    background: var(--vscode-editor-background) !important;
    border-color: var(--vscode-button-background) !important;
}

/**
 * Icons in context pad
 */
:root .djs-context-pad {
    color: var(--palette-entry-color);
}

/**
 * Search Box
 */
:root .djs-search-container input,
:root .djs-search-container .djs-search-result {
    color: var(--vscode-editor-foreground);
    background: var(--vscode-editor-background);
}
